*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    color: aliceblue;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(114, 116, 61);

}
.container{
    position: relative;
}
.clock{
    width:300px;
    height: 300px;
    border-radius:50%;
    background-color: rgb(106, 105, 105);
    border: 2px solid ridge;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
}
.clock span{
    position:absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset:12px;
    text-align: center;
}
.clock span b{
    transform:rotate(calc(-30deg * var(--i))) ;
    display: inline-block;
    font-size:20px;
}
.clock::before{
    content:'';
    position:ab
}