* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f5eeee;
}

.logo {
  color: #e91e63;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  color: #555;
}

.nav-links li:first-child {
  color: #e91e63;
}

/* HERO SECTION */
.hero {
  position: relative;
  padding: 40px;
  text-align: center;
}

.hero-img {
  width: 80%;
  max-width: 900px;
}

/* CIRCLE BADGE */
.badge {
  position: absolute;
  bottom: 60px;
  right: 150px;
  background: #e91e63;
  color: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1.3;
}
/* NEW PRODUCT */
.new-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: #efe9e7;
}

.new-product .text {
  max-width: 500px;
}

.new-product h5 {
  color: #777;
  margin-bottom: 10px;
}

.new-product h2 {
  color: #e91e63;
  margin-bottom: 15px;
}

.new-product p {
  color: #555;
}

.new-product img {
  width: 280px;
}

/* ICON BAR */
.icon-bar {
  display: flex;
  justify-content: space-around;
  background: #c9c315;
  padding: 40px 0;
  color: white;
}

.icon-box {
  text-align: center;
}

.icon-box img {
  width: 40px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: #cc3366;
  text-align: center;
  padding: 40px 0;
  color: white;
}

.socials span {
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}
/* PAGE TITLE */
.about-title {
  text-align: center;
  font-size: 32px;
  color: #e91e63;
  margin: 30px 0;
}

/* IMAGE */
.about-image {
  text-align: center;
  margin-bottom: 40px;
}

.about-image img {
  width: 80%;
  max-width: 900px;
  border-radius: 8px;
}

/* MAIN CONTAINER */
.about-container {
  display: flex;
  gap: 60px;
  padding: 40px 80px;
  font-family: Arial, sans-serif;
}

/* LEFT RECTANGLE */
.left-rect {
  width: 260px;
  background-color: #f3f0f0;
  padding: 30px 20px;
  text-align: center;
}

.left-rect h2 {
  color: #e91e63;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.left-rect p {
  font-size: 13px;
  color: #555;
  margin: 8px 0;
}

.left-rect a {
  color: #e91e63;
  text-decoration: none;
  font-weight: bold;
}

/* RIGHT CONTENT */
.right-content {
  max-width: 600px;
}

.right-content h2 {
  color: #e91e63;
  font-size: 20px;
  margin-bottom: 15px;
}

.right-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
.blog-page {
  display: flex;
  gap: 40px;
  padding: 60px;
  font-family: Arial, sans-serif;
}

/* LEFT */
.blog-left {
  width: 70%;
}

.blog-card {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.blog-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.blog-content h2 {
  color: #e91e63;
}

.date {
  font-size: 14px;
  color: gray;
}

.read-btn {
  margin-top: 15px;
  padding: 10px 25px;
  border: 1px solid #e91e63;
  background: transparent;
  color: #e91e63;
  cursor: pointer;
}
.read-btn:hover{
  background-color: #bbb977;
}

/* RIGHT */
.blog-right {
  width: 30%;
  background: #f4f1f1;
  padding: 30px;
  text-align: center;
}

.blog-right h3 {
  color: #e91e63;
  margin-bottom: 20px;
}

.recent-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.blog-right h4 {
  color: #e91e63;
}
