*{
    margin: 0;
    padding: 0;
}
header{
    height: 10ovh;
    border: 2px red solid;
}
.nav{
    border: 2px blue solid;
    height: 10vh;
    background-color: rgb(58, 106, 106);
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-right a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.hero{
    margin-top: 100px;
    display: flex;
}
.he