/* body {
    background-color: lightblue;
    overflow: hidden-x;
    /* position: fixed; */
    width: 100%; margin: auto;
}

.parent {
    display: flex;
    justify-content: space-around;
    font-size: 3px;
    margin-left: 400px;
    position: fixed;

}

.nav{
    display: flex;
    font-size: 20px;
    position: fixed;
}
.parent{
    border: 2px red solid;
}
.parent a {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 95px;
    gap: 0px;
    text-decoration: none;
   
}

.aneela {
    position: relative;
}

.child1 {
    display: none;
}

.child:hover .child1 {
    display: block;
    position: absolute;
    z-index: 1000;
}

hr {
    width: 1500px;
}

.parent1 {
    /* border: 2px solid red; */
    margin-top: 200px;
    font-size: 50px;
    gap: 10px;
    margin-left: 200px;
}

.parent2 {
    border: aliceblue;
    border-style: solid;
    width: 450px;
    height: 100px;
    margin-top: 500px;
    margin-left: -450px;
    font-size: 20px;
    margin-bottom: 100px;
}

.parent3 {
    display: inline-block;
    border: 1px solid dar;
    width: 400px;
    height: 500px;
    background-color: darkcyan;
    margin-top: 230px;
    mask-position: 900px;
    margin-left: 1000px;
    display: flex;
    margin: 3;
    position: absolute;
}

.main {
    display: flex;
}

.home1 h2 {
    animation-name: ane;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}

@keyframes ane {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translate(-100);
    }
}

.home2 h3 {
    animation-name: ane;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ane {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translate(-100);
    }
}

.home4 {
    position: relative;
    margin-top: 300px;
    margin-left: 200px;
}
.home4 img{
    animation-name: img;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes img{
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translate(-100);
    }
}


.parent5 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: 30px;
}

.about6 {
    border: 2px solid red;
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 60px;
    background-color: aliceblue;
}
.about1{
    /* border: 2px solid red; */
    width: 40%;
    height: 55vh;
    padding: 10px;
    display: flex;
    column-gap: 30px;
}

.about2{
    /* border: 2px solid red; */
    width: 40%;
    height: 55vh;
    padding: 50px;
    /* margin-top: 60px; */
}


.item7 {
    
    height: 600px;
    width: 400px;
    justify-content: flex-start;
}

.item8 {
    border: 1px solid darkcyan;
    width: 500px;
    height: 100px;
    background-color: darkcyan;
    margin-left: -360px;
    margin-top: 300px;
    font-size: 25px;
    padding: 20px;
   
}

.item9 {
    font-size: 18px;
    margin-top: -10px;
    align-content: space-between;

}

.parent7 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -100px;
}

.parent8 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: 20px;
    margin-top: -8px;
    margin-left: -100px;
}

.parent9 {
    display: flex;
    gap: 10px;
    margin-left: 0px;
}

.child14 {
    border: 1px solid #15a4bd;
    width: 100px;
    height: 50px;
    background-color: rgb(34, 145, 145);
    align-content: center;
    padding: 10px;
}

.child15 {
    border: 3px solid rgb(13, 155, 177);
    width: 40px;
    height: 40px;
    align-content: center;
    padding: 10px;
}

.child16 {
    border: 3px solid #1ca9a9;
    width: 40px;
    height: 40px;
    align-content: center;
    padding: 10px;

}

.child17 {
    border: 3px solid rgb(21, 153, 165);
    width: 30px;
    height: 40px;
    align-content: center;
    padding: 10px;

}

.child18 {
    border: 3px solid rgb(25, 129, 138);
    width: 30px;
    height: 40px;
    align-content: center;
    padding: 10px;
}

.parent10 {
    margin-left: -50px;
    margin-left: -10px;
    padding: 10px;

}

.name {
    column-gap: 50px;
     margin-left: -600px;
    margin-top: 300px; 
}

.anu {
    display: flex;
    margin-left: -700px;
    margin-top: 100px;
    position: relative;
   
}
/* .anu img{
    transition: 0.3s ease;
}
.anu img :hover{
    transform: scale(1.2);
} */

.anu1 {
    display: flex;
    margin-left: -400px;
    margin-top: -430px;
    position: relative;
    padding: 30px;
    align-content: center;
    gap: 0
}

.anu2 {
    display: flex;
    margin-left: -100px;
    margin-top: -480px;
    padding: 50px;
    position: relative;
    align-content: center;
}

.anu3 {
    display: flex;
    margin-left: 250px;
    margin-top: -470px;
    padding: 30px;
    position: relative;
    align-content: center;
}

.anu .row {
    position: absolute;
    margin-top: 250px;
    margin-left: 50px;
}

.anu1 .row1 {
    position: absolute;
    margin-top: 250px;
    margin-left: 80px;

}

.anu2 .row2 {
    position: absolute;
    margin-top: 250px;
    margin-left: 40px;
}

.anu3 .row3 {
    position: absolute;
    margin-top: 250px;
    margin-left: 40px;
}

.row4 {
    margin-left: -500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.row5 {
    margin-left: -500px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.parent10 {
    margin-left: -600px;
    display: flex;
    margin-top: 100px;
    
}
.child19 p {
    margin-left: 100px;
   
}
.child21 {
    border: 1px solid #15a4bd;
    width: 100px;
    height: 100px;
    background-color: rgb(7, 96, 96);
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-left: 100px;
}

.child22 {
    border: 1px solid #15a4bd;
    width: 300px;
    height: 100px;
    background-color: rgb(126, 147, 147);
    margin-left: 200px;
    margin-top: -100px;
}
.parent10{
      column-gap: 50px;
      margin-left: -700px;
}
.box{
    border:2px solid rgb(24, 163, 138) ;
    display: flex;
    column-gap: 10%;
    padding: 20px;
    background-color: darkcyan;
}
.child23:hover{
    background-color: lightseagreen;
    width: 100%;
    height: 45vh;
    

}
.child24:hover{
    background-color: lightseagreen;
    width: 100%;
    height: 45vh;

}
.child25:hover{
    background-color: lightseagreen;
    width: 100%;
    height: 45vh;

}
.child26:hover{
    background-color: lightseagreen;
    width: 100%;
    height: 45vh;  
}
.project{
    border: 1px solid black;
    width: 100%;
    height: 90vh;
    background-color:darkgrey;
}
.project1{
    border: 1px solid black;
    width: 100%;
    height: 120vh; 
    background-color: aliceblue;
}
.project2{
    border: 1px solid black;
    width: 100%;
    height: 120vh; 
    background-color: aliceblue;
}
.testimonial{
    border: 1px solid black;
    width: 100%;
    height: 90vh; 
    background-color: #becfc1;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
}
.page{
    /* border: 1px solid black; */
    width: 20%;
    height: 60vh; 
    background-color: darkcyan;
    padding: center;

    
}
.page img{
    margin-top: 70px;
    margin-left: 100px;
}

.class{
    background-color: cadetblue;
}

.page1{

    width: 20%;
    height: 50vh; 
    margin-top: -900;
     padding: center;
}

