body{
    font-family: "poppins",sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    border-bottom: 1px solid red ;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 50px;
}
.navbar img{
    width:70px;
    padding: 50px;
}
.btn1{
   margin-right: 50px;
   background-color: brown;
   border: 0;
   color: azure;
   padding: 10px 25px;
   cursor: pointer;
   font-weight: 6oo;
   transition: 0,3s ease;
}
.btn1:hover{
    background-color: transparent;
    background-color: rgb(152, 146, 144);
    color: rgb(11, 11, 11);
}