* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #ff4d4d, #ff9999);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(173, 241, 166);
  padding: 25px;
  width: 360px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  border: 1px solid #ff4d4d;
  padding: 10px;
  margin-top: 10px;
  background: #e0e57a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url("https://th.bing.com/th/id/OIP.G5bwSoMCsXEXtPbQ0tr5tQEsCO?w=380&h=166&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  color: rgb(35, 33, 33);
}

h2,
h3 {
  text-align: center;
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  margin-top: 18px;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  color: rgb(30, 29, 29);
  font-size: 16px;
  cursor: pointer;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
}

